@import "stylesheets/mixin";

.global-header__border{
  border-bottom: 1px solid #e6e4e1;
}
.global-header__sub.top{
  color: #fff;
}
.global-header__sub.except_top{
  color: #2e2e3b;
}
.global-header__sub{
  @include media_query_mobile{
    display: block;
  }
}