$top-position: -80px;

.bg-image__item{
  position: absolute;
  top: $top-position;
  right: 0;
  bottom: 0;
  left: 0;
  height: 320px - $top-position;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: -1;
  &::before{
    content: ' ';
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

h2{
  &.section--title{
    font-weight: bold;
    font-size: 18px;
    color: #2e2e3b;
    margin-left: 6px;
  }
}
