.shop-detail {
  .shop-detail__table {
    th {
      border-top: 1px solid #d6ceb4;
      border-bottom: 1px solid #d6ceb4;
      border-left: 1px solid #d6ceb4;
      background-color: #faf8f5;
    }
  }
}